.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__title h1 {
  text-transform: capitalize;
  margin-bottom: 0px;
}
.header__title p {
  text-transform: uppercase;
}
header.nav {
  transition: all 0.6s ease-in;
}
